@page "{id:int}"
@model Fryzjer.Pages.Clients.ServiceSelectFormModel
@using Fryzjer.Models
@inject IWebHostEnvironment Environment

@{
    ViewData["Title"] = "Wybór fryzjera i usługi";
}

<h2>Wybór fryzjera dla salonu @Model.PlaceName</h2>

@if (Model.HairdresserNames != null && Model.HairdresserNames.Any())
{
    <form method="post">
        <div class="form-group">
            <label for="HairdresserId">Wybierz fryzjera:</label>
            <select id="HairdresserId" name="Appointment.HairdresserId" class="form-control">
                <option value="">Wybierz fryzjera</option>
                @foreach (var name in Model.HairdresserNames)
                {
                    <option value="@name">@name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="Service">Wybierz usługę:</label>
            <select id="Service" name="Appointment.Service" class="form-control">
                <option value="">Wybierz usługę</option>
                @foreach (var service in Model.Services)
                {
                    <option value="@service.Id">@service.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="Date">Wybierz datę:</label>
            <input type="date" id="Date" name="Appointment.Date" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Time">Wybierz godzinę:</label>
            <select id="Time" name="Appointment.Time" class="form-control" required>
                <option value="">Wybierz godzinę</option>
                @foreach (var time in Model.GetTimeSlots())
                {
                    <option value="@time">@time</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Zarezerwuj</button>
        <button id="anuluj" class="btn btn-secondary">Anuluj</button>
    </form>
}
else
{
    <p>@ViewData["Message"]</p>
}


<script>
    document.getElementById('anuluj').addEventListener('click', function() {
        window.history.back(); // Powrót do poprzedniej strony
    });
</script>
