@page
@model Fryzjer.Pages.Admin.DetailsEmployeeModel

@{

    ViewData["Title"] = "Szczegóły Pracownika";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Imię: @Model.Hairdresser.Name @Model.Hairdresser.surname</h5>
        <p class="card-text">Login: @Model.Hairdresser.login</p>
        <p class="card-text">Lokal: @(Model.Hairdresser.Place?.Name ?? "Brak przypisanego lokalu")</p>
    </div>
</div>

<a href="@Url.Page("/Admin/EmployeeManagement")" class="btn btn-secondary">Powrót</a>
