@page
@model Fryzjer.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Klient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.Id">Edytuj</a> |
    <a asp-page="/Admin/Clients/ClientIndex">Powrót do listy</a>
</div>
