@page "{id:int}"
@model Fryzjer.Pages.Admin.EditEmployeeModel
@{
    ViewData["Title"] = "Edytuj pracownika";
}
<h2>@ViewData["Title"]</h2>
<form method="post">
    <input type="hidden" name="Hairdresser.Id" value="@Model.Hairdresser.Id" />

    <!-- Imię -->
    <div class="form-group">
        <label for="Name">Imię:</label>
        <input type="text" class="form-control" id="Name" name="Hairdresser.Name" value="@Model.Hairdresser.Name" required />
        <span class="text-danger" asp-validation-for="Hairdresser.Name"></span>
    </div>

    <!-- Nazwisko -->
    <div class="form-group">
        <label for="surname">Nazwisko:</label>
        <input type="text" class="form-control" id="surname" name="Hairdresser.surname" value="@Model.Hairdresser.Surname" required />
        <span class="text-danger" asp-validation-for="Hairdresser.Surname"></span>
    </div>

    <!-- Login -->
    <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" class="form-control" id="login" name="Hairdresser.login" value="@Model.Hairdresser.login" required />
        <span class="text-danger" asp-validation-for="Hairdresser.login"></span>
    </div>

    <!-- Hasło -->
    <div class="form-group">
        <label for="password">Hasło:</label>
        <input type="password" class="form-control" id="password" name="Hairdresser.password" />
        <small class="form-text text-muted">Zostaw puste, jeśli nie chcesz zmieniać hasła. Hasło musi zawierać co najmniej jedną wielką i jedną małą literę.</small>
        <span class="text-danger" asp-validation-for="Hairdresser.password"></span>
    </div>

    <!-- Lokal -->
    <div class="form-group">
        <label for="PlaceId">Salon fryzjerski</label>
        <select id="PlaceId" name="Hairdresser.PlaceId" class="form-control">
            <option value="">Wybierz lokal</option>
            @foreach (var place in Model.Places)
            {
                <option value="@place.Id" selected="@(place.Id == Model.Hairdresser.PlaceId)">
                    @place.Name
                </option>
            }
        </select>
    </div>


    <!-- Przyciski -->
    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    <a href="@Url.Page("/Admin/Employee/EmployeeManagement")" class="btn btn-secondary">Anuluj</a>
</form>