@page
@model Fryzjer.Pages.Hairdressers.HairdresserProfileModel
@{
    ViewData["Title"] = "Profil fryzjera";
}

<div class="container mt-4">
    <h1>Witaj, @Model.Hairdresser.Name @Model.Hairdresser.surname!</h1>
    <p>To jest Twój profil fryzjera. Możesz tutaj zarządzać swoimi danymi.</p>

    <dl class="row">
        <dt class="col-sm-3">Imię</dt>
        <dd class="col-sm-9">@Model.Hairdresser.Name</dd>

        <dt class="col-sm-3">Nazwisko</dt>
        <dd class="col-sm-9">@Model.Hairdresser.surname</dd>

        <dt class="col-sm-3">Login</dt>
        <dd class="col-sm-9">@Model.Hairdresser.login</dd>

        <dt class="col-sm-3">Lokalizacja</dt>
        <dd class="col-sm-9">@Model.Hairdresser.Place?.Name ?? "Brak przypisanego lokalu"</dd>
    </dl>

    <a asp-page="/Hairdressers/HairdresserMainPage" class="btn btn-primary">Przejdź do panelu głównego</a>
</div>
