@page
@model Fryzjer.Pages.Hairdressers.HairdresserProfileModel
@{
}

<div class="container mt-4">
    <h1 class="display-4">Witaj, @Model.Hairdresser.Name @Model.Hairdresser.Surname!</h1>
    <p class="lead">Zarządzaj swoim profilem fryzjera.</p>

    <dl class="row">
        <dt class="col-sm-3">Imię</dt>
        <dd class="col-sm-9">@Model.Hairdresser.Name</dd>

        <dt class="col-sm-3">Nazwisko</dt>
        <dd class="col-sm-9">@Model.Hairdresser.Surname</dd>

        <dt class="col-sm-3">Login</dt>
        <dd class="col-sm-9">@Model.Hairdresser.login</dd>

        <dt class="col-sm-3">Lokalizacja</dt>
        <dd class="col-sm-9">@Model.Hairdresser.Place?.Name ?? "Brak przypisanego lokalu"</dd>
    </dl>

    <a asp-page="/Hairdressers/HairdresserMainPage" class="btn btn-primary mt-3">Przejdź do panelu głównego</a>
</div>